/* You can add global styles to this file, and also import other style files */
/**/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: linear-gradient(132deg, #ec5218, #1665c1);
  background-size: 500% 500%;
  animation: BackgroundGradient 10s ease infinite;
  /*background-image: -webkit-radial-gradient(top, circle cover, #ffdab4, #ffaa50 80%);*/
  /*background-image: -moz-radial-gradient(top, circle cover, #ffdab4, #ffaa50 80%);*/
  /*background-image: -o-radial-gradient(top, circle cover, #ffdab4, #ffaa50 80%);*/
  /*background-image: radial-gradient(top, circle cover, #ffdab4, #ffaa50 80%);*/
}

.nav-bar-button {
  color: #ff8505 !important;
  background: transparent;
  font-size: 1.2em;
  transition: all 0.5s;
}

.nav-bar-button:hover {
  border-bottom: 1px solid whitesmoke;
}

.polygon {
  -webkit-clip-path:  polygon(13% 10%, 88% 10%, 88% 73%, 66% 73%, 66% 100%, 37% 73%, 13% 73%);
  clip-path: polygon(13% 10%, 88% 10%, 88% 73%, 66% 73%, 66% 100%, 37% 73%, 13% 73%);
  background-size: cover;
  background-position: top;
  opacity: 0.6;
  transition: all 0.5s;
}
.polygon:hover{
  opacity: 0.8;
}


@media (min-height: 700px){
  .mac-footer{
    margin-top: 7% !important;
    padding: 4% !important;
  }
  .mac-icon{
    position: absolute !important;
    left: 16% !important;
    top: 36% !important;
  }
  .mac-contact-us-p{
    bottom: 45% !important;
  }
  .mac-contact-us-icon{
    left: 47% !important;
    bottom: 25% !important;
  }
}

.video-dialog{
  padding: 0px;
  background: rgba(0,0,0,0.5);
}
