@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import "~ngx-sharebuttons/styles/share-buttons";
@import "~ngx-sharebuttons/styles/themes/default/default-theme";

@include mat-core();

$mmb-primary: (
  50 : #fff0e1,
  100 : #ffdab4,
  200 : #ffc282,
  300 : #ffaa50,
  400 : #ff972b,
  500 : #ff8505,
  600 : #ff7d04,
  700 : #ff7204,
  800 : #ff6803,
  900 : #ff5501,
  A100 : #ffffff,
  A200 : #fff6f2,
  A400 : #ffd1bf,
  A700 : #ffbea6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mmb-accent: (
  50 : #fdf8e6,
  100 : #fbedc2,
  200 : #f8e199,
  300 : #f5d470,
  400 : #f3cb51,
  500 : #f1c232,
  600 : #efbc2d,
  700 : #edb426,
  800 : #ebac1f,
  900 : #e79f13,
  A100 : #ffffff,
  A200 : #fff4e2,
  A400 : #ffe2af,
  A700 : #ffd896,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mmb-palette-primary: mat-palette($mmb-primary);
$mmb-palette-accent: mat-palette($mmb-accent);

$mmb-app-theme: mat-light-theme($mmb-palette-primary, $mmb-palette-accent);
@include angular-material-theme($mmb-app-theme);

.bgAccent50 {
  background: mat-color($mmb-palette-accent, 50);
}

.bgAccent500 {
  background: mat-color($mmb-palette-accent, 500);
}

.bgPrimary50 {
  background: mat-color($mmb-palette-primary, 50);
}

.bgPrimary100 {
  background: mat-color($mmb-palette-primary, 100);
}

.borderAccent500 {
  border-color: mat-color($mmb-palette-accent, 500);
}

@mixin linearGradient($top, $bottom) {
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top 0%, $bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

#dashboardContainer {
  @include linearGradient(#000000, #404040);
}

.mat-card{
  @include linearGradient(#ffffff, #f2f2f2);
}


$md-secondary: (
  50 : #ebfbf2,
  100 : #cef4df,
  200 : #aeedca,
  300 : #8de6b5,
  400 : #74e0a5,
  500 : #5cdb95,
  600 : #54d78d,
  700 : #4ad282,
  800 : #41cd78,
  900 : #30c467,
  A100 : #ffffff,
  A200 : #d5ffe4,
  A400 : #a2ffc3,
  A700 : #89ffb2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-secondary-accent: (
  50 : #eaf1f8,
  100 : #cbdded,
  200 : #a9c7e1,
  300 : #87b0d5,
  400 : #6d9fcc,
  500 : #538ec3,
  600 : #4c86bd,
  700 : #427bb5,
  800 : #3971ae,
  900 : #295fa1,
  A100 : #e2eeff,
  A200 : #afd1ff,
  A400 : #7cb4ff,
  A700 : #63a5ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$md-palette-secondary: mat-palette($md-secondary);
$md-palette-secondary-accent: mat-palette($md-secondary-accent);

$mmb-app-theme: mat-light-theme($md-palette-secondary, $md-palette-secondary-accent);
.alternate{
  @include angular-material-theme($mmb-app-theme);
}

